In [1]:
5+85

90

In [5]:
print (45+0)

45

In [5]:
print (45+0)

45

45

In [6]:
a=12
a-2

10

In [10]:
k=true
type(k)

NameError: name 'true' is not defined

In [11]:
True*False

0

In [12]:
True/False

ZeroDivisionError: division by zero

In [13]:
k=10+20j

TypeError: type() takes 1 or 3 arguments

In [14]:
type(k)

complex

In [15]:
k.real

10.0

In [16]:
k.conjugate

In [17]:
type (k)

complex

In [ ]:
type(k)

In [18]:
p=[4,6,5,'gong',True,45,68,4,8]
type(p)

list

In [19]:
p[0]

4

In [24]:
p[0 to 5]

SyntaxError: invalid syntax (1625727641.py, line 1)

In [29]:
s=("gauravsakpal")
type(s)
s[-15]

IndexError: string index out of range

In [51]:
s2="gaurav is a very clever' guy"
len(s2)
s2[0:7]

'gaurav '

In [41]:
s2[28:0:-2]

"yg'eecye  ivra"

In [60]:
s3='gauravsakpal'
s3[5:0]

''

In [77]:
s4="ineuron"
s4[-1:-6:1]

''

In [80]:
s4+" gaurav"

'ineuron gaurav'

In [87]:
s4+ str[1]

TypeError: 'type' object is not subscriptable

In [91]:
s2.split("a")

['g', 'ur', 'v is ', " very clever' guy"]

In [105]:
sw= "The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate"

In [107]:
sw

'It comprises numerous affiliated businesses most of them united under the Samsung brand and is the largest South Korean chaebol business conglomerate As of 2020 Samsung has the 8th highest global brand value'

In [110]:
sw.split(' ')

['It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 'business',
 'conglomerate',
 'As',
 'of',
 '2020',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value']

In [111]:
sw1="""Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."""

In [112]:
sw1

"Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [113]:
sw1.split(" ")

['Samsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.']

In [114]:
sw1.upper()

"SAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP."

In [115]:
sw1

"Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [116]:
sw1=sw1.upper()

In [117]:
sw1

"SAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP."

In [118]:
s2

"gaurav is a very clever' guy"

In [119]:
s2.capitalize()

"Gaurav is a very clever' guy"

In [120]:
s2.title()

"Gaurav Is A Very Clever' Guy"

In [121]:
s2.swapcase()

"GAURAV IS A VERY CLEVER' GUY"

In [125]:
sw1.strip()

"SAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP."

In [126]:
s2.strip()

"gaurav is a very clever' guy"

In [138]:
s5="gaurav"
s5

'gaurav'

In [129]:
s5.strip()

'gaurav'

In [131]:
s5.rstrip()

'  gaurav'

In [136]:
reversed("sakpal")

In [140]:
s5.center(21,'$')

'$$$$$$$$gaurav$$$$$$$'

In [144]:
s2.isspace()

False

In [154]:
s6="SAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 19381212 AS A TRADING COMPANY"
s6

'SAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 19381212 AS A TRADING COMPANY'

In [155]:
s6.isalnum()

False

In [147]:
s6.isdigit()

False

In [152]:
s2

"gaurav is a very clever' guy"

In [153]:
s2.isalnum()

False

In [158]:
s2.isnumeric()

False

In [160]:
s6.isdigit()

False

In [165]:
s7="4555566666sass"
s7

'4555566666sass'

In [167]:
s7.isdigit()

False

In [170]:
s8="gaurav\trajendra\tsakpal"

In [171]:
s8.expandtabs()

'gaurav  rajendra        sakpal'

In [186]:
s10="this is My First Python programming class and i am learNING python string and its function"
s10

'this is My First Python programming class and i am learNING python string and its function'

In [187]:
s10

'this is My First Python programming class and i am learNING python string and its function'

In [188]:
s10[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [189]:
s10[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [ ]:
s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .

In [194]:
s10.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [196]:
s10=s10.upper()

In [197]:
s10

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [198]:
s10.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [199]:
s10.lower()

'this is my first python programming class and i am learning python string and its function'

In [200]:
s10.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [201]:
s10.isalnum()

False

In [203]:
s10.isalpha()

False

In [214]:
s11="this\tis\tMy\tFirst\tPython\tprogramming\tclass\tand"

In [215]:
s11

'this\tis\tMy\tFirst\tPython\tprogramming\tclass\tand'

In [218]:
s11.expandtabs(3)

'this  is My First Python   programming class and'

In [219]:
s10

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [222]:
s10.rstrip()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [225]:
s10.replace("MY","Hiiiiii")

'THIS IS Hiiiiii FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [229]:
s10.center(100,"#")

'#####THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION#####'

In [230]:
s10

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [241]:
s10

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [242]:
len(s10.splitlines())

1

In [243]:
s12='''this is My First Python programming class and i am learNING python string and its function. This is very simple to understand.'''

In [251]:
s12

'this is My First Python programming class and i am learNING python string and its function. This is very simple to understand.'

In [261]:
s12.splitlines()

['this is My First Python programming class and i am learNING python string and its function. This is very simple to understand.']

In [258]:
len(s12.splitlines())

1

In [267]:
s13='''Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues)'''

In [268]:
s13

"Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues)"

In [269]:
s13.splitlines()

["Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.",
 '',
 "Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues)"]

In [270]:
len(s13.splitlines())

3

In [271]:
s10

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [277]:
s10.split("S")

['THI',
 ' I',
 ' MY FIR',
 'T PYTHON PROGRAMMING CLA',
 '',
 ' AND I AM LEARNING PYTHON ',
 'TRING AND IT',
 ' FUNCTION']

In [281]:
s14="gaurav"
s14

'gaurav'

In [294]:
s14[2:3:]

'u'

In [298]:
s10=

In [312]:
s10

'THIS /IS MY /FIRST /PYTHON /PROGRAMMING /CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [313]:
s15='THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'
s15

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [320]:
s15.rfind("ITS")

78

In [321]:
s15.find("ITS")

78